@{
    ViewBag.Title = "Phòng khám nhi";
}

<div class="page-hero bg-image overlay-dark" style="background-image: url(/Content/assets/img/Wellness.jpeg);">
    <div class="hero-section">
    </div>
</div>

<div class="bg-light">
    <div class="page-section py-3 mt-md-n5 custom-index">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-secondary text-white">
                            <span class="mai-chatbubbles-outline"></span>
                        </div>
                        <p><span>Nhắn tin</span> với phòng khám</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-primary text-white">
                            <span class="mai-shield-checkmark"></span>
                        </div>
                        <p><span>Bảo vệ</span> sức khỏe</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card-service wow fadeInUp">
                        <div class="circle-shape bg-accent text-white">
                            <span class="mai-basket"></span>
                        </div>
                        <p><span>Kê thuốc</span> hiệu quả</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .page-section -->
    <div class="wrap">
        <button id="hen-kham-home" class="button-ani">Hẹn khám ngay</button>
    </div>
    <div class="page-section pb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3 wow fadeInUp">
                    <h1>
                        Chào mừng đến với Phòng khám nhi Mta
                    </h1>
                    <p class="text-grey mb-4">Phòng khám nhi Mta là địa chỉ uy tín về khám chữa bệnh, với đội ngũ chuyên gia - bác sĩ hàng đầu, trang thiết bị hiện đại, cùng các phác đồ điều trị hiệu quả, khoa học mang đến dịch vụ khám, điều trị, chăm sóc sức khỏe cao cấp, toàn diện với chi phí hợp lý.</p>
                    <a href="about.html" class="btn btn-primary">Xem thêm</a>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay="400ms">
                    <div class="img-place custom-img-1">
                        <img src="~/Content/assets/img/bg-doctor.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .bg-light -->
</div> <!-- .bg-light -->

<div class="page-section">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp">Đội ngũ bác sĩ</h1>
        <div class="owl-carousel wow fadeInUp" id="doctorSlideshow">
            @foreach (var item in ViewBag.lstBs)
            {
                <div class="item">
                    <div class="card-doctor">
                        <div class="header">
                            <img src="~/Content/assets/img/doctors/@item.Anh" alt="">
                            <div class="meta">
                                <a href="#"><span class="mai-call"></span></a>
                                <a href="#"><span class="mai-logo-whatsapp"></span></a>
                            </div>
                        </div>
                        <div class="body">
                            <a href="/DoctorTeam/Detail/@item.MaBS" class="text-xl mb-0">@item.HoTen</a><br />
                            <span class="text-sm text-grey">@item.HocVi</span>
                        </div>
                    </div>
                </div>
            }
            <div class="item">
                <div class="card-doctor">
                    <div class="header">
                        <img src="#" alt="">
                        <div class="meta">
                            <a href="#"><span class="mai-call"></span></a>
                            <a href="#"><span class="mai-logo-whatsapp"></span></a>
                        </div>
                    </div>
                    <div class="body">
                        <a href="/DoctorTeam" class="text-xl mb-0">Xem thêm</a><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section bg-light">
    <div class="container">
        <h1 class="text-center wow fadeInUp">Dịch vụ khám</h1>
        <div class="row mt-5">
            @foreach (var item in ViewBag.lstDv)
            {
                <div class="col-lg-4 py-2 wow zoomIn">
                    <div class="card-blog">
                        <div class="header">
                            <div class="post-category">
                                <a href="#">Nổi bật</a>
                            </div>
                            <a href="blog-details.html" class="post-thumb">
                                <img src="~/Content/assets/img/blog/@item.Anh" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <h5 class="post-title"><a href="/Service/Detail/@item.MaDV">@item.TenDV</a></h5>
                            @*<div class="site-info">
                                    <div class="avatar mr-2">
                                        <div class="avatar-img">
                                            <img src="~/Content/assets/img/person/person_1.jpg" alt="">
                                        </div>
                                        <span>Roger Adams</span>
                                    </div>
                                    <span class="mai-time"></span> 1 week ago
                                </div>*@
                        </div>
                    </div>
                </div>
            }
            <div class="col-12 text-center mt-4 wow zoomIn">
                <a href="/Service" class="btn btn-primary">Xem thêm</a>
            </div>

        </div>
    </div>
</div> <!-- .page-section -->

@section scripts{
    <script>
        document.getElementById("hen-kham-home").onclick = function () {
            if ('@Session["patient"]') {
                $.ajax({
                    url: "/Patient/CheckAppointment",
                    dataType: "json",
                    success: function (res) {
                        if (res.data)
                            MessageBox("Bạn đang có lịch hẹn chờ xác nhận. Trong thời gian này, bạn không thể thực hiện đặt thêm lịch hẹn. Chúng tôi sẽ liên hệ với bạn sớm nhất có thể!", "warning");
                        else
                            window.location = "/Patient/Appointment";
                    }
                });
            }
            else
                MessageBox("Bạn cần đăng nhập để thực hiện đặt lịch hẹn!", "error");
        };
    </script>
}
