
@{
    ViewBag.Title = "Mua thuốc thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="padding: 30px;">
        <div class="col-12">

            <p>Mua thuốc thành công. Chúng tôi sẽ liên hệ với bạn sớm nhất có thể.</p>
            <a href="/Patient/Invoice">Đến danh sách hóa đơn thuốc.</a>
            </div>
</div>
</div>