USE [master]
GO
/****** Object:  Database [PhongKhamNhi]    Script Date: 5/5/2023 11:36:18 PM ******/
CREATE DATABASE [PhongKhamNhi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhongKhamNhi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PhongKhamNhi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhongKhamNhi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PhongKhamNhi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhongKhamNhi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhongKhamNhi]
GO
/****** Object:  UserDefinedFunction [dbo].[Func_ThongKeDoanhThu]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Func_ThongKeDoanhThu](@Nam INT, @Thang INT, @MaCn INT) 
RETURNS @bangthongke TABLE
(
	Ngay INT,
	DoanhThu FLOAT
)AS
BEGIN
	DECLARE @Ngay INT = 1
	WHILE @Ngay < 29
		BEGIN
			INSERT INTO @bangthongke
			SELECT @Ngay, CASE WHEN SUM(TongTien) > 0 THEN SUM(TongTien) ELSE 0 END 
			FROM DoanhThu 
			WHERE (@MaCn = 0 OR MaChiNhanh = @MaCn) AND YEAR(NgayThangNam) = @Nam AND MONTH(NgayThangNam) = @Thang AND DAY(NgayThangNam) = @Ngay
			SET @Ngay = @Ngay + 1
		END
	IF(@Thang = 2 AND @Nam%4 = 0)
		BEGIN
			INSERT INTO @bangthongke
			SELECT @Ngay, CASE WHEN SUM(TongTien) > 0 THEN SUM(TongTien) ELSE 0 END 
			FROM DoanhThu 
			WHERE (@MaCn = 0 OR MaChiNhanh = @MaCn) AND YEAR(NgayThangNam) = @Nam AND MONTH(NgayThangNam) = 2 AND DAY(NgayThangNam) = 29
		END
	IF(@Thang != 2)
		WHILE @Ngay < 31
		BEGIN
			INSERT INTO @bangthongke
			SELECT @Ngay, CASE WHEN SUM(TongTien) > 0 THEN SUM(TongTien) ELSE 0 END 
			FROM DoanhThu 
			WHERE (@MaCn = 0 OR MaChiNhanh = @MaCn) AND YEAR(NgayThangNam) = @Nam AND MONTH(NgayThangNam) = @Thang AND DAY(NgayThangNam) = @Ngay
			SET @Ngay = @Ngay + 1
		END
	IF(@Thang = 1 OR @Thang = 3 OR @Thang = 5 OR @Thang = 7 OR @Thang = 8 OR @Thang = 10 OR @Thang = 12)
		BEGIN
			INSERT INTO @bangthongke
			SELECT 31, CASE WHEN SUM(TongTien) > 0 THEN SUM(TongTien) ELSE 0 END 
			FROM DoanhThu 
			WHERE (@MaCn = 0 OR MaChiNhanh = @MaCn) AND YEAR(NgayThangNam) = @Nam AND MONTH(NgayThangNam) = @Thang AND DAY(NgayThangNam) = 31
		END
	RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[funConvertToUnsign]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[funConvertToUnsign] ( @strInput NVARCHAR(4000) ) 
RETURNS NVARCHAR(4000) AS 
BEGIN 
	IF @strInput IS NULL 
		RETURN @strInput 
	IF @strInput = '' 
		RETURN @strInput 
	DECLARE @RT NVARCHAR(4000) 
	DECLARE @SIGN_CHARS NCHAR(136) 
	DECLARE @UNSIGN_CHARS NCHAR (136) 
	SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' + NCHAR(272) + NCHAR(208) 
	SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' 
	DECLARE @COUNTER int 
	DECLARE @COUNTER1 int 
	SET @COUNTER = 1 
	WHILE (@COUNTER <=LEN(@strInput)) 
		BEGIN 
			SET @COUNTER1 = 1 
			WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) 
				BEGIN 
					IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) 
						BEGIN 
							IF @COUNTER=1 
								SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) 
							ELSE 
								SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) 
							BREAK 
						END 
					SET @COUNTER1 = @COUNTER1 +1 
				END 
			SET @COUNTER = @COUNTER +1 
		END 
	SET @strInput = replace(@strInput,' ','-') 
	RETURN @strInput 
END
GO
/****** Object:  Table [dbo].[BacSi]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacSi](
	[MaBS] [int] IDENTITY(1,1) NOT NULL,
	[MaChiNhanh] [int] NULL,
	[IdTaiKhoan] [int] NULL,
	[HoTen] [nvarchar](30) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[Sdt] [char](10) NULL,
	[HocVi] [nvarchar](20) NULL,
	[NgayVaoLam] [date] NULL,
	[Anh] [nvarchar](200) NULL,
	[GioiThieu] [ntext] NULL,
	[Type] [bit] NULL,
 CONSTRAINT [PK_BacSi] PRIMARY KEY CLUSTERED 
(
	[MaBS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[MaBaiViet] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](100) NULL,
	[NoiDung] [ntext] NULL,
	[AnhDaiDien] [nvarchar](200) NULL,
	[ThoiGianTao] [datetime] NULL,
 CONSTRAINT [PK_BaiViet] PRIMARY KEY CLUSTERED 
(
	[MaBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenhNhi]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhi](
	[MaBN] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](30) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[TenThanNhan] [nvarchar](30) NULL,
	[SdtThanNhan] [char](10) NULL,
	[GhiChu] [nvarchar](200) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](200) NULL,
	[AnhDaiDien] [nvarchar](200) NULL,
 CONSTRAINT [PK_BenhNhi] PRIMARY KEY CLUSTERED 
(
	[MaBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](200) NULL,
	[ThoiGianTao] [datetime] NULL,
	[MaBN] [int] NULL,
	[MaBaiViet] [int] NULL,
 CONSTRAINT [PK_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuanPhanHoi]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuanPhanHoi](
	[MaPhanHoi] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](200) NULL,
	[ThoiGianTao] [datetime] NULL,
	[MaBN] [int] NULL,
	[MaBinhLuan] [int] NULL,
 CONSTRAINT [PK_BinhLuanPhanHoi] PRIMARY KEY CLUSTERED 
(
	[MaPhanHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MaChiNhanh] [int] IDENTITY(1,1) NOT NULL,
	[TenChiNhanh] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DangHoatDong] [bit] NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MaChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVuKham]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVuKham](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[TenDV] [nvarchar](50) NULL,
	[MoTa] [ntext] NULL,
	[DonGia] [float] NULL,
	[Anh] [nvarchar](200) NULL,
 CONSTRAINT [PK_DichVuKham] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVuKham_XN]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVuKham_XN](
	[MaDV] [int] NOT NULL,
	[MaXN] [int] NOT NULL,
 CONSTRAINT [PK_DichVuKham_XN] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC,
	[MaXN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhThu]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhThu](
	[NgayThangNam] [date] NOT NULL,
	[MaChiNhanh] [int] NOT NULL,
	[ThuDichVuKham] [float] NULL,
	[ThuXetNghiem] [float] NULL,
	[ThuBanThuoc] [float] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_DoanhThu] PRIMARY KEY CLUSTERED 
(
	[NgayThangNam] ASC,
	[MaChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonBanThuoc]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonBanThuoc](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaChiNhanh] [int] NULL,
	[TenKH] [nvarchar](30) NULL,
	[Sdt] [char](10) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[ThoiGian] [datetime] NULL,
	[TrangThai] [bit] NULL,
	[MaNvLap] [int] NULL,
	[MaNvThu] [int] NULL,
	[TongTien] [float] NULL,
	[Type] [bit] NULL,
	[AnhThanhToan] [nvarchar](500) NULL,
	[MaPhieuKham] [int] NULL,
 CONSTRAINT [PK_HoaDonBanThuoc] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaXN]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaXN](
	[MaPhieuDKXN] [int] NOT NULL,
	[MaXN] [int] NOT NULL,
	[MaNV] [int] NULL,
	[KetQua] [nvarchar](50) NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_KetQuaXN_1] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDKXN] ASC,
	[MaXN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiThuoc]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiThuoc](
	[MaLoaiThuoc] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiThuoc] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiThuoc] PRIMARY KEY CLUSTERED 
(
	[MaLoaiThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[MaChiNhanh] [int] NULL,
	[MaTo] [int] NULL,
	[IdTaiKhoan] [int] NULL,
	[HoTen] [nvarchar](30) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[Sdt] [char](10) NULL,
	[ChucVu] [nvarchar](20) NULL,
	[NgayVaoLam] [date] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDangKyKham]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDangKyKham](
	[MaPhieuDKK] [int] IDENTITY(1,1) NOT NULL,
	[MaChiNhanh] [int] NULL,
	[MaNV] [int] NULL,
	[MaBS] [int] NULL,
	[ThoiGianDKK] [datetime] NULL,
	[HoTen] [nvarchar](30) NULL,
	[NgaySinh] [date] NULL,
	[Sdt] [char](10) NULL,
	[ThoiGianHen] [datetime] NULL,
	[LoiNhan] [nvarchar](200) NULL,
	[TrangThai] [bit] NULL,
	[MaBN] [int] NULL,
	[Type] [bit] NULL,
 CONSTRAINT [PK_PhieuDangKyKham] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDKK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDKXN]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDKXN](
	[MaPhieuDKXN] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuKB] [int] NULL,
	[MaNV] [int] NULL,
	[ThoiGianLap] [datetime] NULL,
	[TrangThai] [tinyint] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_PhieuDKXN] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDKXN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKham_Thuoc]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKham_Thuoc](
	[MaThuoc] [int] NOT NULL,
	[MaPhieuKB] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[CachDung] [nvarchar](100) NULL,
 CONSTRAINT [PK_PhieuKham_Thuoc] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC,
	[MaPhieuKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKhamBenh]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKhamBenh](
	[MaPhieuKB] [int] IDENTITY(1,1) NOT NULL,
	[MaBN] [int] NULL,
	[MaDV] [int] NULL,
	[MaBS] [int] NULL,
	[MaChiNhanh] [int] NULL,
	[ThoiGianLap] [datetime] NULL,
	[BieuHien] [nvarchar](200) NULL,
	[KetLuan] [nvarchar](200) NULL,
	[TrangThai] [tinyint] NULL,
	[MaNvLap] [int] NULL,
	[MaNvThu] [int] NULL,
	[DonGia] [float] NULL,
	[ThoiGianKham] [datetime] NULL,
	[Type] [bit] NULL,
	[AnhThanhToan] [nvarchar](500) NULL,
 CONSTRAINT [PK_PhieuKhamBenh] PRIMARY KEY CLUSTERED 
(
	[MaPhieuKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [int] NOT NULL,
	[TenQuyen] [nvarchar](20) NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IdTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[MaQuyen] [int] NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](200) NOT NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[IdTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](200) NULL,
	[ThoiGianTao] [datetime] NULL,
	[MaBN] [int] NULL,
	[MaBaiViet] [int] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_ThongBao] PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[MaThuoc] [int] IDENTITY(1,1) NOT NULL,
	[MaLoaiThuoc] [int] NULL,
	[TenThuoc] [nvarchar](100) NULL,
	[DonViTinh] [nvarchar](10) NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_Thuoc] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc_HoaDon]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc_HoaDon](
	[MaThuoc] [int] NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_Thuoc_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC,
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuocBan]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuocBan](
	[NgayThangNam] [date] NOT NULL,
	[MaChiNhanh] [int] NOT NULL,
	[MaThuoc] [int] NOT NULL,
	[SoLuongBan] [int] NULL,
 CONSTRAINT [PK_ThuocBan] PRIMARY KEY CLUSTERED 
(
	[NgayThangNam] ASC,
	[MaChiNhanh] ASC,
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToNhanVien]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToNhanVien](
	[MaTo] [int] IDENTITY(1,1) NOT NULL,
	[TenTo] [nvarchar](50) NULL,
 CONSTRAINT [PK_ToNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XetNghiem]    Script Date: 5/5/2023 11:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XetNghiem](
	[MaXN] [int] IDENTITY(1,1) NOT NULL,
	[TenXN] [nvarchar](100) NULL,
	[TriSoBinhThuong] [nvarchar](50) NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_XetNghiem] PRIMARY KEY CLUSTERED 
(
	[MaXN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BacSi] ON 

INSERT [dbo].[BacSi] ([MaBS], [MaChiNhanh], [IdTaiKhoan], [HoTen], [NgaySinh], [GioiTinh], [Sdt], [HocVi], [NgayVaoLam], [Anh], [GioiThieu], [Type]) VALUES (1, 1, 7, N'Đào Đức Bảo', CAST(N'2000-01-01' AS Date), N'Nam', N'0123456789', N'Tiến sĩ', CAST(N'2020-10-18' AS Date), N'doctor_2.jpg', NULL, 0)
INSERT [dbo].[BacSi] ([MaBS], [MaChiNhanh], [IdTaiKhoan], [HoTen], [NgaySinh], [GioiTinh], [Sdt], [HocVi], [NgayVaoLam], [Anh], [GioiThieu], [Type]) VALUES (2, 1, 8, N'Lưu Ngọc Lan', CAST(N'2000-02-02' AS Date), N'Nữ', N'0123456788', N'Tiến sĩ', CAST(N'2019-05-18' AS Date), N'doctor_3.jpg', NULL, 0)
INSERT [dbo].[BacSi] ([MaBS], [MaChiNhanh], [IdTaiKhoan], [HoTen], [NgaySinh], [GioiTinh], [Sdt], [HocVi], [NgayVaoLam], [Anh], [GioiThieu], [Type]) VALUES (3, 1, 9, N'Nguyễn Hồng Hà ', CAST(N'2000-03-03' AS Date), N'Nữ', N'0123456787', N'Tiến sĩ', CAST(N'2018-12-15' AS Date), N'hanh.jpg', NULL, 1)
SET IDENTITY_INSERT [dbo].[BacSi] OFF
GO
SET IDENTITY_INSERT [dbo].[BaiViet] ON 

INSERT [dbo].[BaiViet] ([MaBaiViet], [TieuDe], [NoiDung], [AnhDaiDien], [ThoiGianTao]) VALUES (1, N'Bài viết 10', N'<p>Nội dung</p>', N'NM7.jpg', CAST(N'2023-04-30T16:46:36.877' AS DateTime))
SET IDENTITY_INSERT [dbo].[BaiViet] OFF
GO
SET IDENTITY_INSERT [dbo].[BenhNhi] ON 

INSERT [dbo].[BenhNhi] ([MaBN], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [TenThanNhan], [SdtThanNhan], [GhiChu], [TenDangNhap], [MatKhau], [AnhDaiDien]) VALUES (1, N'Nguyễn Thị Hồng Nguyên', CAST(N'2015-12-28' AS Date), N'Nữ', N'Hà Nội', N'Nguyễn Thị Mai', N'0956392363', NULL, N'nguyennth', N'123456', N'user.png')
INSERT [dbo].[BenhNhi] ([MaBN], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [TenThanNhan], [SdtThanNhan], [GhiChu], [TenDangNhap], [MatKhau], [AnhDaiDien]) VALUES (2, N'Nguyễn Nam Khánh', CAST(N'2014-05-01' AS Date), N'Nam', N'Hà Nội', N'Nguyễn Như Tuyết', N'0123456777', NULL, NULL, NULL, NULL)
INSERT [dbo].[BenhNhi] ([MaBN], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [TenThanNhan], [SdtThanNhan], [GhiChu], [TenDangNhap], [MatKhau], [AnhDaiDien]) VALUES (3, N'Nguyễn Thị Thùy Linh', CAST(N'2013-03-28' AS Date), N'Nữ', N'Hà Nội', N'Nguyễn Duy Khánh', N'0123456788', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[BenhNhi] OFF
GO
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([MaBinhLuan], [NoiDung], [ThoiGianTao], [MaBN], [MaBaiViet]) VALUES (1, N'test binh luan', CAST(N'2023-04-30T22:20:18.953' AS DateTime), 1, 1)
INSERT [dbo].[BinhLuan] ([MaBinhLuan], [NoiDung], [ThoiGianTao], [MaBN], [MaBaiViet]) VALUES (7, N'Hay quá', CAST(N'2023-05-04T23:53:52.867' AS DateTime), 1006, 1)
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
GO
SET IDENTITY_INSERT [dbo].[BinhLuanPhanHoi] ON 

INSERT [dbo].[BinhLuanPhanHoi] ([MaPhanHoi], [NoiDung], [ThoiGianTao], [MaBN], [MaBinhLuan]) VALUES (6, N'tra loi', CAST(N'2023-05-01T22:25:27.430' AS DateTime), 1, 1)
INSERT [dbo].[BinhLuanPhanHoi] ([MaPhanHoi], [NoiDung], [ThoiGianTao], [MaBN], [MaBinhLuan]) VALUES (7, N'hihi', CAST(N'2023-05-05T23:18:05.983' AS DateTime), 1, 7)
SET IDENTITY_INSERT [dbo].[BinhLuanPhanHoi] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiNhanh] ON 

INSERT [dbo].[ChiNhanh] ([MaChiNhanh], [TenChiNhanh], [DiaChi], [DangHoatDong]) VALUES (1, N'Bắc Từ Liêm', N'236 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội', 1)
INSERT [dbo].[ChiNhanh] ([MaChiNhanh], [TenChiNhanh], [DiaChi], [DangHoatDong]) VALUES (2, N'Hoàng Mai', N'440 Vĩnh Hưng, Hoàng Mai, Hà Nội', 1)
INSERT [dbo].[ChiNhanh] ([MaChiNhanh], [TenChiNhanh], [DiaChi], [DangHoatDong]) VALUES (3, N'Thủ Đức', N'Khu phố 1, Tăng Nhơn Phú B, TP.Thủ Đức, TP.HCM', 1)
SET IDENTITY_INSERT [dbo].[ChiNhanh] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVuKham] ON 

INSERT [dbo].[DichVuKham] ([MaDV], [TenDV], [MoTa], [DonGia], [Anh]) VALUES (2, N'Khám đường ruột', N'Nội soi dạ dày, ruột', 200000, N'blog_5.jpg')
INSERT [dbo].[DichVuKham] ([MaDV], [TenDV], [MoTa], [DonGia], [Anh]) VALUES (3, N'Cấp cứu', NULL, 1000000, N'blog_4.jpg')
SET IDENTITY_INSERT [dbo].[DichVuKham] OFF
GO
INSERT [dbo].[DichVuKham_XN] ([MaDV], [MaXN]) VALUES (1, 1)
INSERT [dbo].[DichVuKham_XN] ([MaDV], [MaXN]) VALUES (1, 2)
INSERT [dbo].[DichVuKham_XN] ([MaDV], [MaXN]) VALUES (1, 3)
GO
INSERT [dbo].[DoanhThu] ([NgayThangNam], [MaChiNhanh], [ThuDichVuKham], [ThuXetNghiem], [ThuBanThuoc], [TongTien]) VALUES (CAST(N'2021-11-27' AS Date), 1, 1000000, 0, 0, 1000000)
INSERT [dbo].[DoanhThu] ([NgayThangNam], [MaChiNhanh], [ThuDichVuKham], [ThuXetNghiem], [ThuBanThuoc], [TongTien]) VALUES (CAST(N'2021-11-29' AS Date), 1, 0, 200000, 0, 200000)
INSERT [dbo].[DoanhThu] ([NgayThangNam], [MaChiNhanh], [ThuDichVuKham], [ThuXetNghiem], [ThuBanThuoc], [TongTien]) VALUES (CAST(N'2021-11-30' AS Date), 1, 1500000, 0, 600000, 2100000)
GO
SET IDENTITY_INSERT [dbo].[HoaDonBanThuoc] ON 

INSERT [dbo].[HoaDonBanThuoc] ([MaHoaDon], [MaChiNhanh], [TenKH], [Sdt], [DiaChi], [ThoiGian], [TrangThai], [MaNvLap], [MaNvThu], [TongTien], [Type], [AnhThanhToan], [MaPhieuKham]) VALUES (1, 1, N'Đào Đức Anh', N'0943399999', N'Nam Định', CAST(N'2021-11-30T22:46:36.877' AS DateTime), 1, 3, NULL, 140000, 0, NULL, NULL)
INSERT [dbo].[HoaDonBanThuoc] ([MaHoaDon], [MaChiNhanh], [TenKH], [Sdt], [DiaChi], [ThoiGian], [TrangThai], [MaNvLap], [MaNvThu], [TongTien], [Type], [AnhThanhToan], [MaPhieuKham]) VALUES (2, 1, N'Vũ Duy Khánh', N'0999999999', N'Nam Định', CAST(N'2021-11-30T22:45:41.070' AS DateTime), 1, 3, NULL, 200000, 0, NULL, NULL)
INSERT [dbo].[HoaDonBanThuoc] ([MaHoaDon], [MaChiNhanh], [TenKH], [Sdt], [DiaChi], [ThoiGian], [TrangThai], [MaNvLap], [MaNvThu], [TongTien], [Type], [AnhThanhToan], [MaPhieuKham]) VALUES (3, 1, N'Nguyễn Thị Mai', N'0956392363', N'Hà Nội', CAST(N'2021-12-01T01:01:18.000' AS DateTime), 1, 3, NULL, 200000, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HoaDonBanThuoc] OFF
GO
INSERT [dbo].[KetQuaXN] ([MaPhieuDKXN], [MaXN], [MaNV], [KetQua], [DonGia]) VALUES (4, 1, NULL, N'5', 100000)
INSERT [dbo].[KetQuaXN] ([MaPhieuDKXN], [MaXN], [MaNV], [KetQua], [DonGia]) VALUES (4, 2, NULL, N'90', 50000)
INSERT [dbo].[KetQuaXN] ([MaPhieuDKXN], [MaXN], [MaNV], [KetQua], [DonGia]) VALUES (4, 5, NULL, N'5', 50000)
GO
SET IDENTITY_INSERT [dbo].[LoaiThuoc] ON 

INSERT [dbo].[LoaiThuoc] ([MaLoaiThuoc], [TenLoaiThuoc]) VALUES (1, N'Thuốc giảm đau, hạ sốt')
INSERT [dbo].[LoaiThuoc] ([MaLoaiThuoc], [TenLoaiThuoc]) VALUES (2, N'Thuốc chống dị ứng')
INSERT [dbo].[LoaiThuoc] ([MaLoaiThuoc], [TenLoaiThuoc]) VALUES (3, N'Thuốc tiêu chảy')
SET IDENTITY_INSERT [dbo].[LoaiThuoc] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [MaChiNhanh], [MaTo], [IdTaiKhoan], [HoTen], [NgaySinh], [GioiTinh], [Sdt], [ChucVu], [NgayVaoLam]) VALUES (1, 1, 1, 2, N'Đỗ Thị Nguyệt', CAST(N'2000-09-11' AS Date), N'Nữ', N'0912345678', N'Lễ tân', CAST(N'2019-12-20' AS Date))
INSERT [dbo].[NhanVien] ([MaNV], [MaChiNhanh], [MaTo], [IdTaiKhoan], [HoTen], [NgaySinh], [GioiTinh], [Sdt], [ChucVu], [NgayVaoLam]) VALUES (2, 1, 1, 3, N'Nguyễn Thị Thơm', CAST(N'1999-12-12' AS Date), N'Nữ', N'0215488754', N'Lễ tân', CAST(N'2018-01-15' AS Date))
INSERT [dbo].[NhanVien] ([MaNV], [MaChiNhanh], [MaTo], [IdTaiKhoan], [HoTen], [NgaySinh], [GioiTinh], [Sdt], [ChucVu], [NgayVaoLam]) VALUES (3, 1, 2, 4, N'Nguyễn Hoàng Ánh', CAST(N'2000-04-23' AS Date), N'Nữ', N'0145648784', N'Thu ngân', CAST(N'2017-01-09' AS Date))
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuDangKyKham] ON 

INSERT [dbo].[PhieuDangKyKham] ([MaPhieuDKK], [MaChiNhanh], [MaNV], [MaBS], [ThoiGianDKK], [HoTen], [NgaySinh], [Sdt], [ThoiGianHen], [LoiNhan], [TrangThai], [MaBN], [Type]) VALUES (1, 1, 1, 1, CAST(N'2021-11-05T00:00:00.000' AS DateTime), N'Nguyễn Thị Hồng Nguyên', CAST(N'2015-12-28' AS Date), N'0956392363', CAST(N'2022-01-05T00:00:00.000' AS DateTime), NULL, 1, 1, 0)
INSERT [dbo].[PhieuDangKyKham] ([MaPhieuDKK], [MaChiNhanh], [MaNV], [MaBS], [ThoiGianDKK], [HoTen], [NgaySinh], [Sdt], [ThoiGianHen], [LoiNhan], [TrangThai], [MaBN], [Type]) VALUES (3, 3, 2, 5, CAST(N'2021-11-15T00:00:00.000' AS DateTime), N'Nguyễn Khả Mẫn', CAST(N'2015-11-24' AS Date), N'0951251151', CAST(N'2021-12-15T00:00:00.000' AS DateTime), NULL, 1, 1, 0)
INSERT [dbo].[PhieuDangKyKham] ([MaPhieuDKK], [MaChiNhanh], [MaNV], [MaBS], [ThoiGianDKK], [HoTen], [NgaySinh], [Sdt], [ThoiGianHen], [LoiNhan], [TrangThai], [MaBN], [Type]) VALUES (4, 1, 2, 2, CAST(N'2021-11-10T00:00:00.000' AS DateTime), N'Nguyễn Văn Tiến', CAST(N'2010-02-12' AS Date), N'0639526622', CAST(N'2021-12-23T00:00:00.000' AS DateTime), NULL, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[PhieuDangKyKham] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuDKXN] ON 

INSERT [dbo].[PhieuDKXN] ([MaPhieuDKXN], [MaPhieuKB], [MaNV], [ThoiGianLap], [TrangThai], [TongTien]) VALUES (4, 1, 3, CAST(N'2021-11-29T13:55:38.497' AS DateTime), 2, 200000)
INSERT [dbo].[PhieuDKXN] ([MaPhieuDKXN], [MaPhieuKB], [MaNV], [ThoiGianLap], [TrangThai], [TongTien]) VALUES (5, 4, 3, CAST(N'2021-12-01T09:04:42.253' AS DateTime), 2, 390000)
INSERT [dbo].[PhieuDKXN] ([MaPhieuDKXN], [MaPhieuKB], [MaNV], [ThoiGianLap], [TrangThai], [TongTien]) VALUES (6, 11, 3, CAST(N'2021-12-01T11:17:53.293' AS DateTime), 2, 320000)
SET IDENTITY_INSERT [dbo].[PhieuDKXN] OFF
GO
INSERT [dbo].[PhieuKham_Thuoc] ([MaThuoc], [MaPhieuKB], [SoLuong], [CachDung]) VALUES (1, 5, 1, N'uoongs ngày 2 lần')
INSERT [dbo].[PhieuKham_Thuoc] ([MaThuoc], [MaPhieuKB], [SoLuong], [CachDung]) VALUES (1, 22, 2, N'uống ngày 1 lần')
INSERT [dbo].[PhieuKham_Thuoc] ([MaThuoc], [MaPhieuKB], [SoLuong], [CachDung]) VALUES (2, 1, 1, N'uống ngày 1 lần')
GO
SET IDENTITY_INSERT [dbo].[PhieuKhamBenh] ON 

INSERT [dbo].[PhieuKhamBenh] ([MaPhieuKB], [MaBN], [MaDV], [MaBS], [MaChiNhanh], [ThoiGianLap], [BieuHien], [KetLuan], [TrangThai], [MaNvLap], [MaNvThu], [DonGia], [ThoiGianKham], [Type], [AnhThanhToan]) VALUES (1, 1, 1, 1, 1, CAST(N'2021-11-27T15:00:05.000' AS DateTime), N'Sốt cao', N'Sốt virut.', 2, 1, 3, 500000, NULL, 0, NULL)
INSERT [dbo].[PhieuKhamBenh] ([MaPhieuKB], [MaBN], [MaDV], [MaBS], [MaChiNhanh], [ThoiGianLap], [BieuHien], [KetLuan], [TrangThai], [MaNvLap], [MaNvThu], [DonGia], [ThoiGianKham], [Type], [AnhThanhToan]) VALUES (2, 2, 2, 2, 1, CAST(N'2021-11-27T10:30:49.000' AS DateTime), N'Đau bụng', N'Ngộ độc', 1, 3, 3, 200000, NULL, 0, NULL)
INSERT [dbo].[PhieuKhamBenh] ([MaPhieuKB], [MaBN], [MaDV], [MaBS], [MaChiNhanh], [ThoiGianLap], [BieuHien], [KetLuan], [TrangThai], [MaNvLap], [MaNvThu], [DonGia], [ThoiGianKham], [Type], [AnhThanhToan]) VALUES (3, 3, 3, 2, 1, CAST(N'2021-11-27T14:51:45.000' AS DateTime), NULL, N'Chấn thương vùng bụng', 1, 3, 3, 1000000, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[PhieuKhamBenh] OFF
GO
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (0, N'Admin')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (1, N'Bác sĩ')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (2, N'Lễ tân')
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([IdTaiKhoan], [MaQuyen], [TenDangNhap], [MatKhau], [TrangThai]) VALUES (1, 0, N'admin', N'admin', 1)
INSERT [dbo].[TaiKhoan] ([IdTaiKhoan], [MaQuyen], [TenDangNhap], [MatKhau], [TrangThai]) VALUES (2, 2, N'letan', N'letan', 1)
INSERT [dbo].[TaiKhoan] ([IdTaiKhoan], [MaQuyen], [TenDangNhap], [MatKhau], [TrangThai]) VALUES (3, 2, N'letan2', N'letan2', 1)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongBao] ON 

INSERT [dbo].[ThongBao] ([MaThongBao], [NoiDung], [ThoiGianTao], [MaBN], [MaBaiViet], [TrangThai]) VALUES (1, N'Nguyễn Thị Mai đã phản hồi bình luận của bạn trong bài viết ''Bài viết 10''', CAST(N'2023-05-05T23:18:06.070' AS DateTime), 1006, 1, 1)
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
GO
SET IDENTITY_INSERT [dbo].[Thuoc] ON 

INSERT [dbo].[Thuoc] ([MaThuoc], [MaLoaiThuoc], [TenThuoc], [DonViTinh], [DonGia]) VALUES (1, 1, N'Panadol', N'Vỉ', 10000)
INSERT [dbo].[Thuoc] ([MaThuoc], [MaLoaiThuoc], [TenThuoc], [DonViTinh], [DonGia]) VALUES (2, 1, N'Salonpas', N'Gói', 20000)
INSERT [dbo].[Thuoc] ([MaThuoc], [MaLoaiThuoc], [TenThuoc], [DonViTinh], [DonGia]) VALUES (3, 1, N'Panadol extra', N'Vỉ', 17000)
SET IDENTITY_INSERT [dbo].[Thuoc] OFF
GO
INSERT [dbo].[Thuoc_HoaDon] ([MaThuoc], [MaHoaDon], [SoLuong], [DonGia]) VALUES (1, 1, 2, 10000)
INSERT [dbo].[Thuoc_HoaDon] ([MaThuoc], [MaHoaDon], [SoLuong], [DonGia]) VALUES (1, 2, 2, 10000)
INSERT [dbo].[Thuoc_HoaDon] ([MaThuoc], [MaHoaDon], [SoLuong], [DonGia]) VALUES (1, 3, 3, 10000)
GO
INSERT [dbo].[ThuocBan] ([NgayThangNam], [MaChiNhanh], [MaThuoc], [SoLuongBan]) VALUES (CAST(N'2021-11-01' AS Date), 1, 11, 10)
INSERT [dbo].[ThuocBan] ([NgayThangNam], [MaChiNhanh], [MaThuoc], [SoLuongBan]) VALUES (CAST(N'2021-11-30' AS Date), 2, 11, 20)
INSERT [dbo].[ThuocBan] ([NgayThangNam], [MaChiNhanh], [MaThuoc], [SoLuongBan]) VALUES (CAST(N'2021-12-01' AS Date), 1, 2, 10)
GO
SET IDENTITY_INSERT [dbo].[ToNhanVien] ON 

INSERT [dbo].[ToNhanVien] ([MaTo], [TenTo]) VALUES (1, N'Lễ tân')
INSERT [dbo].[ToNhanVien] ([MaTo], [TenTo]) VALUES (2, N'Thu ngân')
INSERT [dbo].[ToNhanVien] ([MaTo], [TenTo]) VALUES (3, N'Nhân viên xét nghiệm')
SET IDENTITY_INSERT [dbo].[ToNhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[XetNghiem] ON 

INSERT [dbo].[XetNghiem] ([MaXN], [TenXN], [TriSoBinhThuong], [DonViTinh], [DonGia]) VALUES (1, N'Ure máu', N'2.5 - 7.5', N'mmol/l', 100000)
INSERT [dbo].[XetNghiem] ([MaXN], [TenXN], [TriSoBinhThuong], [DonViTinh], [DonGia]) VALUES (2, N'Creatinin huyết thanh', N'62 - 106', N'umol/L', 50000)
INSERT [dbo].[XetNghiem] ([MaXN], [TenXN], [TriSoBinhThuong], [DonViTinh], [DonGia]) VALUES (3, N'Xét nghiệm ALT & AST, GGT', N'20 - 40', N'UI/L', 70000)
SET IDENTITY_INSERT [dbo].[XetNghiem] OFF
GO
ALTER TABLE [dbo].[BacSi]  WITH CHECK ADD  CONSTRAINT [FK_BacSi_ChiNhanh] FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[BacSi] CHECK CONSTRAINT [FK_BacSi_ChiNhanh]
GO
ALTER TABLE [dbo].[BacSi]  WITH CHECK ADD  CONSTRAINT [FK_BacSi_TaiKhoan] FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IdTaiKhoan])
GO
ALTER TABLE [dbo].[BacSi] CHECK CONSTRAINT [FK_BacSi_TaiKhoan]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_BaiViet] FOREIGN KEY([MaBaiViet])
REFERENCES [dbo].[BaiViet] ([MaBaiViet])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_BaiViet]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_BenhNhi] FOREIGN KEY([MaBN])
REFERENCES [dbo].[BenhNhi] ([MaBN])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_BenhNhi]
GO
ALTER TABLE [dbo].[BinhLuanPhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuanPhanHoi_BenhNhi] FOREIGN KEY([MaBN])
REFERENCES [dbo].[BenhNhi] ([MaBN])
GO
ALTER TABLE [dbo].[BinhLuanPhanHoi] CHECK CONSTRAINT [FK_BinhLuanPhanHoi_BenhNhi]
GO
ALTER TABLE [dbo].[BinhLuanPhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuanPhanHoi_BinhLuan] FOREIGN KEY([MaBinhLuan])
REFERENCES [dbo].[BinhLuan] ([MaBinhLuan])
GO
ALTER TABLE [dbo].[BinhLuanPhanHoi] CHECK CONSTRAINT [FK_BinhLuanPhanHoi_BinhLuan]
GO
ALTER TABLE [dbo].[DichVuKham_XN]  WITH CHECK ADD  CONSTRAINT [FK_DichVuKham_XN_DichVuKham] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVuKham] ([MaDV])
GO
ALTER TABLE [dbo].[DichVuKham_XN] CHECK CONSTRAINT [FK_DichVuKham_XN_DichVuKham]
GO
ALTER TABLE [dbo].[DichVuKham_XN]  WITH CHECK ADD  CONSTRAINT [FK_DichVuKham_XN_XetNghiem] FOREIGN KEY([MaXN])
REFERENCES [dbo].[XetNghiem] ([MaXN])
GO
ALTER TABLE [dbo].[DichVuKham_XN] CHECK CONSTRAINT [FK_DichVuKham_XN_XetNghiem]
GO
ALTER TABLE [dbo].[DoanhThu]  WITH CHECK ADD  CONSTRAINT [FK_DoanhThu_ChiNhanh] FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[DoanhThu] CHECK CONSTRAINT [FK_DoanhThu_ChiNhanh]
GO
ALTER TABLE [dbo].[HoaDonBanThuoc]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanThuoc_ChiNhanh] FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[HoaDonBanThuoc] CHECK CONSTRAINT [FK_HoaDonBanThuoc_ChiNhanh]
GO
ALTER TABLE [dbo].[HoaDonBanThuoc]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanThuoc_NhanVien] FOREIGN KEY([MaNvLap])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonBanThuoc] CHECK CONSTRAINT [FK_HoaDonBanThuoc_NhanVien]
GO
ALTER TABLE [dbo].[HoaDonBanThuoc]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanThuoc_NhanVien1] FOREIGN KEY([MaNvThu])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonBanThuoc] CHECK CONSTRAINT [FK_HoaDonBanThuoc_NhanVien1]
GO
ALTER TABLE [dbo].[KetQuaXN]  WITH CHECK ADD  CONSTRAINT [FK_KetQuaXN_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[KetQuaXN] CHECK CONSTRAINT [FK_KetQuaXN_NhanVien]
GO
ALTER TABLE [dbo].[KetQuaXN]  WITH CHECK ADD  CONSTRAINT [FK_KetQuaXN_PhieuDKXN] FOREIGN KEY([MaPhieuDKXN])
REFERENCES [dbo].[PhieuDKXN] ([MaPhieuDKXN])
GO
ALTER TABLE [dbo].[KetQuaXN] CHECK CONSTRAINT [FK_KetQuaXN_PhieuDKXN]
GO
ALTER TABLE [dbo].[KetQuaXN]  WITH CHECK ADD  CONSTRAINT [FK_KetQuaXN_XetNghiem] FOREIGN KEY([MaXN])
REFERENCES [dbo].[XetNghiem] ([MaXN])
GO
ALTER TABLE [dbo].[KetQuaXN] CHECK CONSTRAINT [FK_KetQuaXN_XetNghiem]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IdTaiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ToNhanVien] FOREIGN KEY([MaTo])
REFERENCES [dbo].[ToNhanVien] ([MaTo])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ToNhanVien]
GO
ALTER TABLE [dbo].[PhieuDangKyKham]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDangKyKham_BacSi] FOREIGN KEY([MaBS])
REFERENCES [dbo].[BacSi] ([MaBS])
GO
ALTER TABLE [dbo].[PhieuDangKyKham] CHECK CONSTRAINT [FK_PhieuDangKyKham_BacSi]
GO
ALTER TABLE [dbo].[PhieuDangKyKham]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDangKyKham_ChiNhanh] FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[PhieuDangKyKham] CHECK CONSTRAINT [FK_PhieuDangKyKham_ChiNhanh]
GO
ALTER TABLE [dbo].[PhieuDangKyKham]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDangKyKham_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuDangKyKham] CHECK CONSTRAINT [FK_PhieuDangKyKham_NhanVien]
GO
ALTER TABLE [dbo].[PhieuDKXN]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDKXN_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuDKXN] CHECK CONSTRAINT [FK_PhieuDKXN_NhanVien]
GO
ALTER TABLE [dbo].[PhieuDKXN]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDKXN_PhieuKhamBenh] FOREIGN KEY([MaPhieuKB])
REFERENCES [dbo].[PhieuKhamBenh] ([MaPhieuKB])
GO
ALTER TABLE [dbo].[PhieuDKXN] CHECK CONSTRAINT [FK_PhieuDKXN_PhieuKhamBenh]
GO
ALTER TABLE [dbo].[PhieuKham_Thuoc]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKham_Thuoc_PhieuKhamBenh] FOREIGN KEY([MaPhieuKB])
REFERENCES [dbo].[PhieuKhamBenh] ([MaPhieuKB])
GO
ALTER TABLE [dbo].[PhieuKham_Thuoc] CHECK CONSTRAINT [FK_PhieuKham_Thuoc_PhieuKhamBenh]
GO
ALTER TABLE [dbo].[PhieuKham_Thuoc]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKham_Thuoc_Thuoc] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[Thuoc] ([MaThuoc])
GO
ALTER TABLE [dbo].[PhieuKham_Thuoc] CHECK CONSTRAINT [FK_PhieuKham_Thuoc_Thuoc]
GO
ALTER TABLE [dbo].[PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKhamBenh_BacSi] FOREIGN KEY([MaBS])
REFERENCES [dbo].[BacSi] ([MaBS])
GO
ALTER TABLE [dbo].[PhieuKhamBenh] CHECK CONSTRAINT [FK_PhieuKhamBenh_BacSi]
GO
ALTER TABLE [dbo].[PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKhamBenh_BenhNhi] FOREIGN KEY([MaBN])
REFERENCES [dbo].[BenhNhi] ([MaBN])
GO
ALTER TABLE [dbo].[PhieuKhamBenh] CHECK CONSTRAINT [FK_PhieuKhamBenh_BenhNhi]
GO
ALTER TABLE [dbo].[PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKhamBenh_ChiNhanh] FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[PhieuKhamBenh] CHECK CONSTRAINT [FK_PhieuKhamBenh_ChiNhanh]
GO
ALTER TABLE [dbo].[PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKhamBenh_DichVuKham] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVuKham] ([MaDV])
GO
ALTER TABLE [dbo].[PhieuKhamBenh] CHECK CONSTRAINT [FK_PhieuKhamBenh_DichVuKham]
GO
ALTER TABLE [dbo].[PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKhamBenh_NhanVien] FOREIGN KEY([MaNvLap])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuKhamBenh] CHECK CONSTRAINT [FK_PhieuKhamBenh_NhanVien]
GO
ALTER TABLE [dbo].[PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKhamBenh_NhanVien1] FOREIGN KEY([MaNvThu])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuKhamBenh] CHECK CONSTRAINT [FK_PhieuKhamBenh_NhanVien1]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_Quyen]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_BaiViet] FOREIGN KEY([MaBaiViet])
REFERENCES [dbo].[BaiViet] ([MaBaiViet])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_BaiViet]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_BenhNhi] FOREIGN KEY([MaBN])
REFERENCES [dbo].[BenhNhi] ([MaBN])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_BenhNhi]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc_LoaiThuoc] FOREIGN KEY([MaLoaiThuoc])
REFERENCES [dbo].[LoaiThuoc] ([MaLoaiThuoc])
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [FK_Thuoc_LoaiThuoc]
GO
ALTER TABLE [dbo].[Thuoc_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc_HoaDon_HoaDonBanThuoc] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDonBanThuoc] ([MaHoaDon])
GO
ALTER TABLE [dbo].[Thuoc_HoaDon] CHECK CONSTRAINT [FK_Thuoc_HoaDon_HoaDonBanThuoc]
GO
ALTER TABLE [dbo].[Thuoc_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc_HoaDon_Thuoc] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[Thuoc] ([MaThuoc])
GO
ALTER TABLE [dbo].[Thuoc_HoaDon] CHECK CONSTRAINT [FK_Thuoc_HoaDon_Thuoc]
GO
ALTER TABLE [dbo].[ThuocBan]  WITH CHECK ADD  CONSTRAINT [FK_ThuocBan_ChiNhanh] FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[ThuocBan] CHECK CONSTRAINT [FK_ThuocBan_ChiNhanh]
GO
ALTER TABLE [dbo].[ThuocBan]  WITH CHECK ADD  CONSTRAINT [FK_ThuocBan_Thuoc] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[Thuoc] ([MaThuoc])
GO
ALTER TABLE [dbo].[ThuocBan] CHECK CONSTRAINT [FK_ThuocBan_Thuoc]
GO
/****** Object:  StoredProcedure [dbo].[CapNhatDoanhThu]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CapNhatDoanhThu] 
	@ngayTN DATE, @maCn INT, @thuDv FLOAT, @thuXn FLOAT, @thuBanThuoc FLOAT, @tong FLOAT
AS
BEGIN
    BEGIN
        BEGIN TRY
            BEGIN TRAN
                /*Thiết lập chế độ khóa SERIALIZABLE*/
                UPDATE [dbo].[DoanhThu] WITH (SERIALIZABLE)
				SET ThuDichVuKham = @thuDv, ThuXetNghiem = @thuXn, ThuBanThuoc = @thuBanThuoc, TongTien = @tong
				 WHERE NgayThangNam = @ngayTN AND MaChiNhanh = @maCn
            COMMIT TRAN;
        END TRY
        BEGIN CATCH
            DECLARE @loi NVARCHAR(200)
            SET @loi = N'Lỗi: ' + ERROR_MESSAGE()
            RAISERROR (@Loi, 16, 1)
            ROLLBACK TRAN
            RETURN
        END CATCH
    END
END
GO
/****** Object:  StoredProcedure [dbo].[CapNhatPhieuDKK]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CapNhatPhieuDKK] 
	@maPhieu INT, @maCn INT, @maNV INT, @maBs INT, 
	@tgdk DATETIME, @ten NVARCHAR(30), @ns DATE, @sdt CHAR(10), @tghen DATETIME, @ln NVARCHAR(200), @tt BIT
AS
BEGIN
    BEGIN
        BEGIN TRY
            BEGIN TRAN
                /*Thiết lập chế độ khóa SERIALIZABLE*/
                UPDATE [dbo].[PhieuDangKyKham] WITH (SERIALIZABLE)
				SET [MaChiNhanh] = @maCn, [MaNV] = @maNV,[MaBS] = @maBs, [ThoiGianDKK] = @tgdk, [HoTen] = @ten, 
					[NgaySinh] = @ns, [Sdt] = @sdt, [ThoiGianHen] = @tghen, [LoiNhan] = @ln, [TrangThai] = @tt
				 WHERE MaPhieuDKK = @maPhieu
            COMMIT TRAN;
        END TRY
        BEGIN CATCH
            DECLARE @loi NVARCHAR(200)
            SET @loi = N'Lỗi: ' + ERROR_MESSAGE()
            RAISERROR (@Loi, 16, 1)
            ROLLBACK TRAN
            RETURN
        END CATCH
    END
END
GO
/****** Object:  StoredProcedure [dbo].[DoanhThuThuocBan]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DoanhThuThuocBan] @Nam INT, @Thang INT, @MaCn INT
AS
BEGIN
	SELECT SUM(ThuBanThuoc)
	FROM DoanhThu
	WHERE (@MaCn = 0 OR MaChiNhanh = @MaCn) AND YEAR(NgayThangNam) = @Nam AND MONTH(NgayThangNam) = @Thang
END
GO
/****** Object:  StoredProcedure [dbo].[GetListBs]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[GetListBs] @ma INT, @ten NVARCHAR(30), @gt NVARCHAR(3), @cn INT
AS
BEGIN
	SELECT * FROM [dbo].BacSi 
	WHERE (@ma = 0 OR MaBS = @ma)
		AND (@ten = '' OR (dbo.funConvertToUnsign(HoTen) LIKE N'%' + dbo.funConvertToUnsign(@ten) + '%'))
		AND (@gt = '' OR GioiTinh = @gt)
		AND (@cn = 0 OR MaChiNhanh = @cn)
END
GO
/****** Object:  StoredProcedure [dbo].[GetListNv]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetListNv] @ma INT, @ten NVARCHAR(30), @gt NVARCHAR(3), @cn INT
AS
BEGIN
	SELECT * FROM [dbo].NhanVien 
	WHERE (@ma = 0 OR MaNV = @ma)
		AND (@ten = '' OR (dbo.funConvertToUnsign(HoTen) LIKE N'%' + dbo.funConvertToUnsign(@ten) + '%'))
		AND (@gt = '' OR (GioiTinh = @gt))
		AND (@cn = 0 OR MaChiNhanh = @cn)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertDoanhThu]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertDoanhThu] 
	@ngayTN DATE, @maCn INT, @thuDv FLOAT, @thuXn FLOAT, @thuBanThuoc FLOAT, @tong FLOAT
AS
BEGIN
    BEGIN
        BEGIN TRY
            BEGIN TRAN
                INSERT INTO [dbo].[DoanhThu] 
				VALUES (@ngayTN, @maCn, @thuDv, @thuXn, @thuBanThuoc, @tong)
            COMMIT TRAN;
        END TRY
        BEGIN CATCH
            DECLARE @loi NVARCHAR(200)
            SET @loi = N'Lỗi: ' + ERROR_MESSAGE()
            RAISERROR (@Loi, 16, 1)
            ROLLBACK TRAN
            RETURN
        END CATCH
    END
END
GO
/****** Object:  StoredProcedure [dbo].[lichSuKhamByMaBs]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lichSuKhamByMaBs] @bs INT, @dv INT, @tu DATETIME, @den DATETIME
AS
BEGIN
	SELECT P.ThoiGianLap, P.MaPhieuKB, B.HoTen, B.NgaySinh, D.TenDV, P.KetLuan
	FROM PhieuKhamBenh P, BenhNhi B, DichVuKham D, BacSi BS
	WHERE P.MaBS = @bs AND P.MaBN = B.MaBN AND P.MaDV = D.MaDV AND P.MaBS = BS.MaBS
			AND (P.ThoiGianLap >= @tu AND p.ThoiGianLap <= @den)
			AND (@dv = 0 OR P.MaDV = @dv)
	ORDER BY P.MaPhieuKB DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstBaiViet]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstBaiViet] @tieuDe NVARCHAR(100), @tu DATETIME = NULL, @den DATETIME =NULL
AS
BEGIN
	SELECT *
	FROM [dbo].[BaiViet] 
	WHERE (@tieuDe = '' OR @tieuDe is null OR dbo.funConvertToUnsign(TieuDe) LIKE N'%' + dbo.funConvertToUnsign(@tieuDe) + '%')
		AND (@tu is null OR ThoiGianTao >= @tu)
		AND (@den is null OR ThoiGianTao <= @den)
	ORDER BY MaBaiViet DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstBenhNhi]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstBenhNhi] @ten NVARCHAR(30), @ns DATE, @sdt CHAR(10), @dc NVARCHAR(200)
AS
BEGIN
	SELECT * FROM [dbo].[BenhNhi] 
	WHERE (@ten = '' OR (dbo.funConvertToUnsign(HoTen) LIKE N'%' + dbo.funConvertToUnsign(@ten) + '%'))
		AND (@ns = '' OR (NgaySinh = @ns))
		AND (@sdt = '' OR (SdtThanNhan LIKE '%' + @sdt + '%'))
		AND (@dc = '' OR (dbo.funConvertToUnsign(DiaChi) LIKE N'%' + dbo.funConvertToUnsign(@dc) + '%'))
	ORDER BY MaBN DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstDonThuoc]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstDonThuoc] @maCn INT, @maPk INT, @bn NVARCHAR(30), @tu DATETIME, @den DATETIME
AS
BEGIN
	SELECT P.MaPhieuKB, P.ThoiGianLap, P.MaBN, B.HoTen, BS.HoTen [TenBs]
	FROM PhieuKhamBenh P, BenhNhi B, BacSi BS
	WHERE P.MaChiNhanh = @maCn AND P.TrangThai = 2 AND P.MaBN = B.MaBN AND P.MaBS = BS.MaBS
			AND (@maPk = 0 OR (P.MaPhieuKB = @maPk))
			AND (@bn = '' OR (dbo.funConvertToUnsign(B.HoTen) LIKE N'%' + dbo.funConvertToUnsign(@bn) + '%'))
			AND (P.ThoiGianLap >= @tu AND P.ThoiGianLap <= @den)
	ORDER BY P.MaPhieuKB DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstHdThuoc]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstHdThuoc] @maCn INT, @maHd INT, @bn NVARCHAR(30), @tu DATETIME, @den DATETIME, @type BIT = NULL
AS
BEGIN
	SELECT * FROM HoaDonBanThuoc
	WHERE MaChiNhanh = @maCn
			AND (@maHd = 0 OR (MaHoaDon = @maHd))
			AND (@bn = '' OR (dbo.funConvertToUnsign(TenKH) LIKE N'%' + dbo.funConvertToUnsign(@bn) + '%'))
			AND (ThoiGian >= @tu AND ThoiGian <= @den)
			AND (@type IS NULL OR @type = Type)
	ORDER BY MaHoaDon DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstHoaDonThuocByBn]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstHoaDonThuocByBn] @bn INT, @tu DATETIME, @den DATETIME
AS
BEGIN
	SELECT H.* 
	FROM BenhNhi B LEFT JOIN PhieuKhamBenh P ON b.MaBN = p.MaBN
							 JOIN HoaDonBanThuoc H ON p.MaPhieuKB = H.MaPhieuKham
	WHERE B.MaBN = @bn
		AND (H.ThoiGian >= @tu AND H.ThoiGian <= @den)
	ORDER BY h.MaHoaDon DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstLichHenByBn]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstLichHenByBn] @bn INT, @tu DATETIME, @den DATETIME
AS
BEGIN
	SELECT P.MaPhieuDKK, P.ThoiGianDKK, P.ThoiGianHen, P.TrangThai, P.MaBN, P.Type, B.HoTen, B.SdtThanNhan, S.HoTen TenBacSi
	FROM [dbo].[PhieuDangKyKham] P, BenhNhi B, BacSi S
	WHERE P.MaBN = @bn AND B.MaBN = @bn
		AND (ThoiGianHen >= @tu AND ThoiGianHen <= @den)
		AND P.MaBS = S.MaBS
	ORDER BY P.MaPhieuDKK DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstPhieuDkk]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstPhieuDkk] @maCn INT, @sdt VARCHAR(10), @tgDk DATETIME, @tgHen DATETIME, @trangThai CHAR(1), @type CHAR(1)
AS
BEGIN
	SELECT P.MaPhieuDKK, P.ThoiGianDKK, P.ThoiGianHen, P.Type, P.TrangThai, B.MaBN, B.HoTen, B.SdtThanNhan
	FROM [dbo].[PhieuDangKyKham] P LEFT JOIN BenhNhi B ON P.MaBN = B.MaBN
	WHERE MaChiNhanh = @maCn
		AND (@sdt = '' OR Sdt LIKE '%' + @sdt + '%')
		AND (@tgDk = '' OR (YEAR(ThoiGianDKK) = YEAR(@tgDk) AND MONTH(ThoiGianDKK) = MONTH(@tgDk) AND DAY(ThoiGianDKK) = DAY(@tgDk)))
		AND (@tgHen = '' OR (YEAR(ThoiGianHen) = YEAR(@tgHen) AND MONTH(ThoiGianHen) = MONTH(@tgHen) AND DAY(ThoiGianHen) = DAY(@tgHen)))
		AND (@trangThai = '' OR (TrangThai = @trangThai))
		AND (@type = '' OR (Type = @type))
	ORDER BY ThoiGianDKK DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstPhieuDkXn]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstPhieuDkXn] @maCn INT, @bn NVARCHAR(30), @trangThai CHAR(1), @tu DATETIME, @den DATETIME
AS
BEGIN
	SELECT X.MaPhieuDKXN, P.MaPhieuKB, X.ThoiGianLap, B.HoTen, X.TongTien, X.TrangThai
	FROM PhieuDKXN X, PhieuKhamBenh P, BenhNhi B
	WHERE p.MaChiNhanh = @maCn AND X.MaPhieuKB = P.MaPhieuKB AND P.MaBN = B.MaBN
		AND (@bn = '' OR (dbo.funConvertToUnsign(B.HoTen) LIKE N'%' + dbo.funConvertToUnsign(@bn) + '%'))
		AND (X.ThoiGianLap >= @tu AND X.ThoiGianLap <= @den)
		AND (@trangThai = '' OR (X.TrangThai = @trangThai))
	ORDER BY x.MaPhieuDKXN DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstPhieuDkXn2]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstPhieuDkXn2] @maCn INT, @bn NVARCHAR(30), @trangThai CHAR(1), @tu DATETIME, @den DATETIME
AS
BEGIN
	SELECT X.MaPhieuDKXN, P.MaPhieuKB, X.ThoiGianLap, B.HoTen, X.TongTien, X.TrangThai
	FROM PhieuDKXN X, PhieuKhamBenh P, BenhNhi B
	WHERE p.MaChiNhanh = @maCn AND X.MaPhieuKB = P.MaPhieuKB AND P.MaBN = B.MaBN
		AND (@bn = '' OR (dbo.funConvertToUnsign(B.HoTen) LIKE N'%' + dbo.funConvertToUnsign(@bn) + '%'))
		AND (X.ThoiGianLap >= @tu AND X.ThoiGianLap <= @den)
		AND X.TrangThai != 0
		AND (@trangThai = '' OR (X.TrangThai = @trangThai))
	ORDER BY x.MaPhieuDKXN DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstPhieuKb]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstPhieuKb] @maCn INT, @bn NVARCHAR(30), @dv INT, @bs INT, @trangThai TINYINT
AS
BEGIN
	SELECT P.ThoiGianLap, P.ThoiGianKham, P.MaPhieuKB, B.HoTen, B.NgaySinh, D.TenDV, P.DonGia, BS.HoTen [TenBs], P.TrangThai
	FROM PhieuKhamBenh P, BenhNhi B, DichVuKham D, BacSi BS
	WHERE P.MaBN = B.MaBN AND P.MaDV = D.MaDV AND P.MaBS = BS.MaBS
			AND P.MaChiNhanh = @maCn
			AND (@bn = '' OR (dbo.funConvertToUnsign(B.HoTen) LIKE N'%' + dbo.funConvertToUnsign(@bn) + '%'))
			AND (@dv = 0 OR P.MaDV = @dv)
			AND (@bs = 0 OR P.MaBS = @bs)
			AND (@trangThai = 3 OR P.TrangThai = @trangThai)
	ORDER BY P.MaPhieuKB DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstPhieuKb2]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstPhieuKb2] @maCn INT, @bn NVARCHAR(30), @dv INT, @bs INT, @trangThai TINYINT, @tu DATETIME, @den DATETIME
AS
BEGIN
	SELECT P.ThoiGianLap, P.ThoiGianKham, P.MaPhieuKB, B.HoTen, B.NgaySinh, D.TenDV, P.DonGia, BS.HoTen [TenBs], P.TrangThai, P.Type
	FROM PhieuKhamBenh P, BenhNhi B, DichVuKham D, BacSi BS
	WHERE P.MaBN = B.MaBN AND P.MaDV = D.MaDV AND P.MaBS = BS.MaBS
			AND P.MaChiNhanh = @maCn
			AND P.MaBS = @bs
			AND (P.ThoiGianLap >= @tu AND p.ThoiGianLap <= @den)
			AND (@bn = '' OR (dbo.funConvertToUnsign(B.HoTen) LIKE N'%' + dbo.funConvertToUnsign(@bn) + '%'))
			AND (@dv = 0 OR P.MaDV = @dv)
			AND (P.TrangThai != 0)
			AND (@trangThai = 3 OR P.TrangThai = @trangThai)
	ORDER BY P.ThoiGianKham DESC, P.MaPhieuKB DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstPhieuKbByBn]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstPhieuKbByBn] @bn INT, @tu DATETIME, @den DATETIME
AS
BEGIN
	SELECT P.ThoiGianLap, P.MaPhieuKB, B.HoTen, B.NgaySinh, D.TenDV, P.DonGia, BS.HoTen [TenBs], P.TrangThai, P.Type
	FROM PhieuKhamBenh P, BenhNhi B, DichVuKham D, BacSi BS
	WHERE P.MaBN = @bn AND P.MaDV = D.MaDV AND P.MaBS = BS.MaBS AND P.MaBN = B.MaBN
			AND (P.ThoiGianLap >= @tu AND p.ThoiGianLap <= @den)
	ORDER BY P.MaPhieuKB DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstSearchThuoc]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstSearchThuoc] @ten nvarchar(100)
AS 
BEGIN
	SELECT *
	FROM Thuoc
	WHERE dbo.funConvertToUnsign(TenThuoc) LIKE N'%' + dbo.funConvertToUnsign(@ten) + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[lstSearchXn]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstSearchXn] @ten nvarchar(100)
AS 
BEGIN
	SELECT *
	FROM XetNghiem
	WHERE dbo.funConvertToUnsign(TenXN) LIKE N'%' + dbo.funConvertToUnsign(@ten) + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[lstThuoc]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstThuoc] @ten NVARCHAR(100), @maL INT
AS
BEGIN
	SELECT T.* FROM Thuoc T, LoaiThuoc L 
	WHERE T.MaLoaiThuoc = L.MaLoaiThuoc
			AND (@maL = 0 OR (T.MaLoaiThuoc = @maL))
			AND (@ten = '' OR (dbo.funConvertToUnsign(T.TenThuoc) LIKE N'%' + dbo.funConvertToUnsign(@ten) + '%'))
	ORDER BY T.MaThuoc DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstXetNghiem]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstXetNghiem] @ten NVARCHAR(100), @maDv INT
AS
BEGIN
	SELECT DISTINCT X.* FROM XetNghiem X, DichVuKham_XN C 
	WHERE X.MaXN = C.MaXN
			AND (@maDv = 0 OR (C.MaDV = @maDv))
			AND (@ten = '' OR (dbo.funConvertToUnsign(X.TenXN) LIKE N'%' + dbo.funConvertToUnsign(@ten) + '%'))
	ORDER BY X.MaXN DESC
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKeDichVu]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKeDichVu] @Nam INT, @Thang INT, @MaCn INT
AS
BEGIN
	SELECT D.TenDV, D.DonGia, COUNT(P.MaPhieuKB) AS Sl, (D.DonGia * COUNT(P.MaPhieuKB)) [ThanhTien]
	FROM PhieuKhamBenh P, DichVuKham D
	WHERE (@MaCn = 0 OR MaChiNhanh = @MaCn) AND YEAR(ThoiGianLap) = @Nam AND MONTH(ThoiGianLap) = @Thang
			AND P.MaDV = D.MaDV
	GROUP BY D.TenDV, D.DonGia
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKeThuocBan]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKeThuocBan] @Nam INT, @Thang INT, @MaCn INT
AS
BEGIN
	SELECT T.MaThuoc, T.TenThuoc, T.DonViTinh, SUM(B.SoLuongBan) AS Sl
	FROM ThuocBan B, Thuoc T
	WHERE (@MaCn = 0 OR MaChiNhanh = @MaCn) AND YEAR(NgayThangNam) = @Nam AND MONTH(NgayThangNam) = @Thang
			AND B.MaThuoc = T.MaThuoc
	GROUP BY T.MaThuoc, T.TenThuoc, T.DonViTinh
	ORDER BY SUM(B.SoLuongBan) DESC
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKeThuocBan2]    Script Date: 5/5/2023 11:36:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongKeThuocBan2] @Nam INT, @Thang INT, @MaCn INT
AS
BEGIN
	SELECT T.MaThuoc, T.TenThuoc, T.DonViTinh, T.DonGia, SUM(B.SoLuongBan) AS Sl, (T.DonGia * SUM(B.SoLuongBan)) [ThanhTien]
	FROM ThuocBan B, Thuoc T
	WHERE (@MaCn = 0 OR MaChiNhanh = @MaCn) AND YEAR(NgayThangNam) = @Nam AND MONTH(NgayThangNam) = @Thang
			AND B.MaThuoc = T.MaThuoc
	GROUP BY T.MaThuoc, T.TenThuoc, T.DonViTinh, T.DonGia
END
GO
USE [master]
GO
